table
{
    border-collapse: collapse;
    padding-left: 16px;
    margin-left:16px;
}

table tr:hover {
    background-color: #E9EBEE;
}

table td, th {
    height: 48px;
    padding-left: 20px;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid #E9EBEE;
}
